<section class="gallery-section gallery-overlay">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery-section__img image_01">
      <picture>
        <source
          srcset="
            ./images/desktop/gallery-section-ice-cream_desktop1.webp    1x,
            ./images/desktop/gallery-section-ice-cream_desktop1@2x.webp 2x
          "
          media="(min-width: 1013px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/gallery-section-ice-cream_desktop1.png    1x,
            ./images/desktop/gallery-section-ice-cream_desktop1@2x.png 2x
          "
          media="(min-width: 1013px)"
        />

        <source
          srcset="
            ./images/tablet/gallery-section-ice-cream_tablet1.webp    1x,
            ./images/tablet/gallery-section-ice-cream_tablet1@2x.webp 2x
          "
          media="(min-width: 704px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/gallery-section-ice-cream_tablet1.png    1x,
            ./images/tablet/gallery-section-ice-cream_tablet1@2x.png 2x
          "
          media="(min-width: 704px)"
        />

        <source
          srcset="
            ./images/mobile/gallery-section-ice-cream_mobile1.webp    1x,
            ./images/mobile/gallery-section-ice-cream_mobile1@2x.webp 2x
          "
          media="(max-width: 703px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/mobile/gallery-section-ice-cream_mobile1.png    1x,
            ./images/mobile/gallery-section-ice-cream_mobile1@2x.png 2x
          "
          media="(max-width: 703px)"
        />

        <img
          src="./images/mobile/gallery-section-ice-cream_mobile1.png"
          alt="різнокольорове морозиво"
        />
      </picture>
    </div>
    <div class="gallery-section__img image_02">
      <picture>
        <source
          srcset="
            ./images/desktop/gallery-section-ice-cream_desktop2.webp    1x,
            ./images/desktop/gallery-section-ice-cream_desktop2@2x.webp 2x
          "
          media="(min-width: 1013px)"
          type="image/webp"
        />

        <source
          srcset="
            ./images/desktop/gallery-section-ice-cream_desktop2.png    1x,
            ./images/desktop/gallery-section-ice-cream_desktop2@2x.png 2x
          "
          media="(min-width: 1013px)"
        />

        <img
          src="./images/desktop/gallery-section-ice-cream_desktop2.png"
          alt="морозиво з різнокольоровою присипкою"
        />
      </picture>
    </div>
    <div class="gallery-section__img image_03">
      <picture>
        <source
          srcset="
            ./images/desktop/gallery-section-ice-cream_desktop3.webp    1x,
            ./images/desktop/gallery-section-ice-cream_desktop3@2x.webp 2x
          "
          media="(min-width: 1013px)"
          type="image/webp"
        />

        <source
          srcset="
            ./images/desktop/gallery-section-ice-cream_desktop3.png    1x,
            ./images/desktop/gallery-section-ice-cream_desktop3@2x.png 2x
          "
          media="(min-width: 1013px)"
        />

        <img
          src="./images/desktop/gallery-section-ice-cream_desktop3.png"
          alt="морозиво з полуницею"
        />
      </picture>
    </div>
  </div>
</section>
