<section class="gallery-section gallery-overlay">
  <h2 class="visually-hidden">Gallery section</h2>
  <!-- Slider -->
  <div class="image-slider swiper-container container">
    <div class="image-slider__wrapper swiper-wrapper">
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery-section__ice-cream_desktop1.webp    1x,
                ./images/desktop/gallery-section__ice-cream_desktop1@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/desktop/gallery-section__ice-cream_desktop1.png    1x,
                ./images/desktop/gallery-section__ice-cream_desktop1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/tablet/gallery-section__ice-cream_tablet1.webp    1x,
                ./images/tablet/gallery-section__ice-cream_tablet1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-section__ice-cream_tablet1.png    1x,
                ./images/tablet/gallery-section__ice-cream_tablet1@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/mobile/gallery-section__ice-cream_mobile1.webp    1x,
                ./images/mobile/gallery-section__ice-cream_mobile1@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/mobile/gallery-section__ice-cream_mobile1.png    1x,
                ./images/mobile/gallery-section__ice-cream_mobile1@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/mobile/gallery-section__ice-cream_mobile1.png"
              alt="різнокольорове морозиво"
            />
          </picture>
        </div>
      </div>

      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery-section__ice-cream_desktop2.webp    1x,
                ./images/desktop/gallery-section__ice-cream_desktop2@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/desktop/gallery-section__ice-cream_desktop2.png    1x,
                ./images/desktop/gallery-section__ice-cream_desktop2@2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <img
              src="./images/desktop/gallery-section__ice-cream_desktop2.png"
              alt="морозиво з різнокольоровою присипкою"
            />
          </picture>
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery-section__ice-cream_desktop3.webp    1x,
                ./images/desktop/gallery-section__ice-cream_desktop3@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/desktop/gallery-section__ice-cream_desktop3.png    1x,
                ./images/desktop/gallery-section__ice-cream_desktop3@2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <img
              src="./images/desktop/gallery-section__ice-cream_desktop3.png"
              alt="морозиво з полуницею"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
