<div class="products-modal">
    <h2 class="products-modal__title">Chocolate icecream</h2>
    
    <div class="products-modal__image-wrapper">
        <picture>
            <source>
            <source>
            <source>
            <source>
            <img src="" alt="" class="products-modal__image">
        </picture>
    </div>

    <ul class="products-modal__product-info">
        <li>
            <div class="products-modal__product-info-item">

            </div>
        </li>
        <li>
            <div class="products-modal__product-info-item">

            </div>
        </li>
        <li>
            <div class="products-modal__product-info-item">

            </div>
        </li>
        <li>
            <div class="products-modal__product-info-item">

            </div>
        </li>
    </ul>

    <div class="products-modal__ingredients">
        <h3 class="products-modal__ingredients-title">Ingredients</h3>
        <div class="products-modal__ingredients-table">
            <!-- INGREDIENTS TABLE -->
            <table>
                <tr>
                    <td>Milk</td>
                    <td>100 ml</td>
                </tr>
                <tr>
                    <td>Belgian chocolate</td>
                    <td>20 g</td>
                </tr>
                <tr>
                    <td>Cream</td>
                    <td>150 ml</td>
                </tr>
                <tr>
                    <td>Cocoa powder</td>
                    <td>30 g</td>
                </tr>
                <tr>
                    <td>Sugar</td>
                    <td>40 g</td>
                </tr>
                <tr>
                    <td>Vanilla sugar</td>
                    <td>10 g</td>
                </tr>
            </table>
        </div>
    </div>

    <form action="" class="products-modal__form">
        <input
            type="text"
            name="username"
            id="username"
            pattern="[a-zA-Zа-яА-ЯіІїЇ']+"
            required placeholder="Name"
        />

        <input
            type="tel"
            name="phone"
            id="phone"
            placeholder="Phone"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="XXX-XXX-XX-XX"
            required
        />

        <textarea
            name="comment"
            id="comment"
            rows="3"
            placeholder="Comment">
        </textarea>

        <button
            type="submit"
            class="products-modal__form-btn">Submit
        </button>
        
    </form>

</div>