.ice-cream-background {
    background-image: url(../images/desktop/ice-cream-test.jpg);
    // background-attachment: fixed;
    padding-bottom: 196px;
}

.contacts__container {
    margin-top: -96px;
}