.address__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        gap: 16px;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
        }
    
} 

.address__card {
    border: 1px solid orange;
    padding: 40px 32px;
    background-color: var(--primary-white-text);
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1); 
    
    @media screen and (min-width: 320px) {
        width: 280px;
        height: 412px;
    }
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 528px;
        }
    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 538px;
        }
        
}

.address__cafe {
    margin-bottom: 20px;
    display: flex;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    background-color: var(--accent-color);    
    align-items: center;
    justify-content: center;    
    font-style: normal;        
    font-size: 12px;
    line-height: calc(22/12);
}

.address__foodtruck {
    margin-bottom: 20px;
    display: flex;
    width: 130px;
    height: 16px;
    border-radius: 4px;
    background-color: var(--accent-color);
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-size: 12px;
    line-height: calc(22/12);
}

.address__location {
    font-style: normal;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--line-grey);
}

.address__city {
    margin-bottom: 8px;    
    font-size: 12px;
    line-height: calc(22/12);    
}

.address__map {
    font-size: 12px;
    line-height: calc(22/12);    
    color: var(--product-bg-brown);
}

.address__schedule {
    font-style: normal;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--line-grey);
}

.address__day {        
    font-size: 12px;
    line-height: calc(22/12);
}

.address__time {    
    font-size: 12px;
    line-height: calc(22/12);
    color: var(--contact-grey);
}

.address__cont {
    font-style: normal;
}

.address__tel,
.address__mail {
    font-size: 12px;
    line-height:calc(18/12);    
}




